
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    grid-gap: 40px;
}

.card {
    overflow: hidden;
    cursor: pointer;
    border: 1px solid white;
    width: 250px;
    height: 450px;
    object-fit: cover;
    margin: 10px;
    box-shadow: 3px 3px 15px #00000029;
}

.card img{
    background-color: white;
    width: 100%;
    height: 290px;
}

.card-matter{
    border-top:3px solid #D1D1D1 ;
    max-width: 90%;
    margin: auto;
    text-align: center;
}
.card-title{
    text-align: center;
}

.card-btn{
    margin-top: 15px;
    margin-left: 50px;
    background-color: #CFB338;
    border: none;
    border-radius: 25px;
    width: 155px;
    height: 40px;
    color: #FFFFFF
}
.price {
    text-align: center;
    color: #CFB338;
    margin-top: 15px;
}