.length{
    height: 600px;
}

.box1{
    margin-top: 150px;
    border-top: 2px solid black;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.box1 .leftSide2 {
    flex: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-left: 100px;
}

.box1 .RightSide2 {
    flex: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
}

.box1 a {
    margin-top: 30px;
    color: black;
    text-decoration: none;
    margin-left: 100px;
}
ul {
    float: left;
}
li{
    color: rgb(129, 116, 97);
    list-style-type:none ;
    margin-top: 15px;
}
.Inline1{
    margin-left: 750px;
}
.Inline2 {
    margin-left: 950px;
}
.Inline3 {
    margin-left: 1150px;
}
.hello {
    margin: 10px;
}