.border{
    width: 100%;
    height: 350px;
    text-align: center;
}
.border img{
    width: 100%;
    height: 100%;
}
.left{
    display: flex;
    justify-content: center;
}
.product{
    text-align: center;
    margin: 100px 0px 30px 0px;
}
.services-img{
    border: 1px solid black;
    background-color: white;
    width: 500px;
    height: 650px;
    margin-left: 40px;
    float: left;
}
.heading{
    margin: 50px;
    margin-left: 600px;
}
.para{
    margin-left: 600px;
    letter-spacing: 1px;
}
.top{
    background-color: #F5F5F5;
    height: 600px;
}
.top-1{
    height: 60px;
    margin-top: 40px;
    border-bottom: 1px solid #D1D1D1;
    margin-left: 30px;
    max-width: 95%;
}
.box_1{
    border: 1px solid black;
    width: 45%;
    height: 200px;
}.box_1 img{
    width: 100%;
    height: 100%;
}
.BG_img{
    margin: 20px;
    background-image: url("/Users/vamsi/Desktop/work/cart/src/Assets/glass.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.ground{
    color: #201e1e;
    margin: 70px 20px;
    height: 90px;
}
.btn_1{
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    background-color: #CFB338;
    width: 139px;
    height: 38px;
}
.BG_img2 {
    margin: 20px;
    background-image: url("/Users/vamsi/Desktop/work/cart/src/Assets/various-spices.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}