.border{
    border: 1px solid black;
    height: 350px;
    text-align: center;
}
.left{
    display: flex;
    justify-content: center;
}
.product{
    margin-left: 40px;
}
.services-img{
    border: 1px solid black;
    background-color: white;
    width: 500px;
    height: 650px;
    margin-left: 40px;
    float: left;
}
.heading{
    margin: 50px;
    margin-left: 600px;
}
.para{
    margin-left: 600px;
    letter-spacing: 1px;
}
.hello {
    margin: 10px;
}